/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* PALETTE */
html {
  --black: #000;
  --white: #FFF;
  --grey: #DADADA;
  --aqua: #0FE0D4;
  --red: #FF0000;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

::placeholder {
  color: var(--aqua);
  font-size: 1rem;
}


/* UTILITIES */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.cta {
  border: 2px solid var(--black);
  background-color: var(--aqua);
  line-height: 30px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 10px;
}

/* APP */
#app {
  padding-top: 30px;
}

/* TITLE */
#todo-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

/* INPUT FIELD */
.error {
  color: var(--red);
  font-size: 15px;
}

.taskDone {
  text-decoration: line-through;
  text-decoration-thickness: 5px;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.input-field .input-text {
  flex-grow: 1;
  border: 2px solid var(--black);
  border-radius: 20px;
  line-height: 40px;
  padding: 0 10px;
}

/* TASK WRAPPER */
.task-wrap {
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task i {
  padding: 0 10px;
  cursor: pointer;
}

.task-wrap .task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  font-size: 18px;
  padding: 0 15px;
  background-color: var(--grey);
  border-radius: 20px;
  user-select: none;
  box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.76);
}
