<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue - todo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  
  <div id="app">
    <!-- container -->
    <div class="container">
      <!-- title -->
      <h1 id="todo-title">TODO LIST</h1>
      <!-- error message -->
      <span class="error">Inserire almeno 5 caratteri</span>
      <!-- input field ==> input + button -->
      <div class="input-field">
        <input @keyup.enter="addTask()" class="input-text" type="text" placeholder="Inserisci una task" v-model="taskInput">
        <button @click="addTask()" class="cta">ADD</button>
      </div>

      <!-- Task section -->
      <ul v-if="isThereTasks()" class="task-wrap">
        <li class="task" v-for="(task, index) in todos" :key="index" @click="isDone(index)">
          <p :class="{ taskDone: todos[index].done }">
            {{ todos[index].text }}
          </p>
          <i @click.stop="deleteTask(index)" class="fa-solid fa-x"></i>
        </li>
      </ul>

      <h3 v-else>NON HAI NULLA DA FARE 😜</h3>

    </div>
    <!-- end container -->
  </div>

  <script src="./js/script.js"></script>
</body>
</html>